/* ---------------------------------- COLORS --------------------------------- */
:root{
    --primery-text-color: #212121;
    --additional-text-color: #FFFFFF;
    --paragraph-tex-color: #757575;
    --text-hover-color: #2196F3;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --background-color: #ffffff;
    --background-color-additional: #2f303a;
    --background-color-special: #F5F4FA;
}

/* ------------- body+logo+head+footer (тіло+логотип+шапка+підвал) ----------- */
/* ----- body (тіло) -----*/
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);
}

.hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* links option (налаштування для посилать) */
.link-options {
    text-decoration: none;
}

/* .flex-list{
    list-style: none;
    display: flex;
} */

/* ---------------------------------- LOGO ----------------------------------- */
/* "web" and "studio" style logo (in header and footer) */
.logo {
    font-family: 'Raleway', sans-serif;
}

/* options font LOGO (located in header and footer) */
.word-web,
.studio-header,
.studio-footer{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

/* options for tex "web" in logo */
.word-web {
    color: var(--text-hover-color);
}
/* options for tex "studio" in header logo */
.studio-header {
    color: var(--primery-text-color);
}
/* options for tex "studio" in footer logo */
.studio-footer {
    color: var(--additional-text-color);
}

/* =========================== HEADER (шапка сайта) ========================== */


.topbar-navigation-link, 
.topbar-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}

.topbar-navigation-list,
.topbar-contacts-list{
    list-style: none;
    display: flex;
}

/* header navigation options (налаштування шапки) */
.topbar {
    display: flex;
    justify-content: center;
}

/* ---------------------------- header navigation ---------------------------- */
/* header navigation section options (налаштування секції навігації) */
.topbar-navigation{
    display: inline-flex;
}

.topbar-navigation-list{}

/* header navigation list options (налаштування списку навігації) */
.topbar-navigation-group {}

/* header navigation link options (налаштування рядків списку навігації) */
.topbar-navigation-link{
    color: var(--primery-text-color);
}
.topbar-navigation-link:hover,
.topbar-navigation-link:focus{
    color: var(--text-hover-color);
}

/* ----------------------------- header contacts ----------------------------- */
.topbar-contacts-list{}

/* header contacts list options (налаштування списку контактів) */
.topbar-contacts-group {}

/* header contacts color and hover (налаштування контактів в шапці) */
.topbar-contacts-link {
    color: var(--paragraph-tex-color);
}
.topbar-contacts-link:focus,
.topbar-contacts-link:hover{
    color: var(--text-hover-color);
}



/* -====================== FOOTER section (підвал сайту) ======================*/
/* global footer links option (налаштування для посилать) */
.link-f {
    text-decoration: none;
    list-style: none;
}

/* footer section options (налаштування підвалу) */
.footer {
    background-color: var(--background-color-additional);
    padding-left: 215px;
}

/* footer list options (налаштування списку в підвалі) */
.footer-address-ul {
    display: inline-block;
    list-style: none;
}

/* footer font options (налаштування стилів в підвалі) */
.footer-address,
.footer-contacts{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-left: 0;
}

/* footer address options (налаштування адреси в підвалі) */
.footer-address {
    color: var(--additional-text-color);
}
.footer-address:hover,
.footer-address:focus {
    color: var(--text-hover-color);
}

/* footer contacts options (налаштування контактів в підвалі) */
.footer-contacts {
    color: var(--footer-contact-color);
}
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--text-hover-color);
}




/* ++++++++++++++ main index.html (основний контент index.html) ++++++++++++++ */
/* =========================== HERO section (герой) ===========================*/
.hero { 
    background-color: var(--background-color-additional);
    box-sizing: border-box;
    width: auto;
    height: 600px;
    top: 80px;
}

.hero-title {
    color: var(--additional-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase
}

.hero-button {
    color: var(--additional-text-color);
    background: var(--text-hover-color);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    height: 50px;
    width: 220px;
    border-radius: 4px;
}

/* --------------------- our-features (текст під банером) -------------------- */
/* .our-features {} */

.our-features-ul{
    color: var(--primery-text-color);
    list-style: none;
    display: flex;
}

/* .our-features-li {} */

/* title options (налаштування назви) */
.our-features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* paragraph options (налаштування параграфу) */
.our-features-p {
    color: var(--paragraph-tex-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ------------------------ section 3 (чим займаємось) ----------------------- */

/* title in section 3 and 4  */
.section-title{
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

/*  налаштування списку (list options) */
.section-3-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    gap: 30px;    
}

/* ------------------- our team (ot) (наша команда) section ------------------ */
.our-team {
    background-color: var(--background-color-special);
    height: 648px;
}

/* ot-list located in our team <li> */
.ot-li {
    display: flexbox;
    margin: 0 auto;
    background-color: var(--additional-text-color);
    width: 270px;
}

/* .ot-img {} */

.ot-title {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.ot-p {
    color: var(--paragraph-tex-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ++++++++++++++++++++++++++ PAGE 2 portfolio.html +++++++++++++++++++++++++  */
/* ---------- main potfolio.html (основний контент portfolio.html) ----------  */

/* button list options (налаштування списка кнопок) */
.p-btnlist{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

/* .p-btn {} */
/* button options (налаштування кнопки) */
.portfolio-btn {
    font-family: inherit;
    margin-left: 10px;
    border-style: none;
    border-radius: 4px;
    height: 38px;
    padding-right: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    cursor: pointer;
    background-color: #2196F3;
    color: var(--additional-text-color);
}

/* .nav-btn {} */



/* ----------------------------- portfolio list ------------------------------ */
.p-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    gap: 30px;
}
/*  */
.p-li{
    box-sizing: border-box;
}


.p-title{
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.p-text{
    color: var(--paragraph-tex-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
