/* COLORS */
:root{
    --primery-text-color: #212121;
    --additional-text-color: #FFFFFF;
    --paragraph-tex-color: #757575;
    --text-hover-color: #2196F3;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --background-color: #ffffff;
    --background-color-additional: #2f303a;
    --background-color-special: #F5F4FA;
}

/* ----- body+head+footer (тіло+шапка+підвал) ----- */
/* ----- body (тіло) -----*/
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);
}

.hidden{
    display: none;
}

.flex-list{
    list-style: none;
    display: flex;
}

/* LOGO */
/* "web" and "studio" style logo (in header and footer) */
.webstudio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    list-style: none;
    margin-top: 31px;
    padding-right: 90px;
}

/* options for tex "web" in logo */
.web {
    color: var(--text-hover-color);
}
/* options for tex "studio" in header logo */
.studio-header {
    color: var(--primery-text-color);
}
/* options for tex "studio" in footer logo */
.studio-footer {
    color: var(--additional-text-color);
}

/*  HEADER (шапка сайта)  */
.link-h {
    text-decoration: none;
    list-style: none;
    display: flex;
}

.navigation{
    display: inline-flex;
}

.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
}

.header-nav {
    cursor: pointer;
    color: var(--additional-text-color);
}

.header-nav-li {
    color: var(--primery-text-color);
    padding-right: 50px;
    margin-top: 12px;
}

.header-nav-li:hover,
.header-nav-li:focus{
    color: var(--text-hover-color);
}

.header-contacts {
    font-size: 14px;
    cursor: pointer;
    list-style: none;
    color: var(--paragraph-tex-color);
    margin-top: 12px;
}

.header-contacts:focus,
.header-contacts:hover{
    color: var(--text-hover-color);
}



/* ----- FOOTER section (підвал сайту) -----*/

.link-f {
    text-decoration: none;
    list-style: none;
}

.footer {
    background-color: var(--background-color-additional);
    padding-left: 215px;
}

.footer-address-ul {
    display: inline-block;
    list-style: none;
}

.footer-address,
.footer-contacts{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding-left: 0;
    font-style: normal;
}

.footer-address {
    color: var(--additional-text-color);
}

.footer-address:hover,.footer-address:focus {
    color: var(--text-hover-color);
}

.footer-contacts {
    color: var(--footer-contact-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--text-hover-color);
}




/* -------------- main index.html (основний контент index.html) --------------  */
/* ------ HERO section (герой) ------*/
.hero { 
    background-color: var(--background-color-additional);
    box-sizing: border-box;
    width: auto;
    height: 600px;
    top: 80px;
}

.hero-title {
    color: var(--additional-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.006em;
}

.hero-button {
    color: var(--additional-text-color);
    background: var(--text-hover-color);
    text-align: center;
    display: flex;
}

/* ----- our-features (текст під банером) ----- */
/* .our-features {} */

.our-features-ul{
    color: var(--primery-text-color);
    list-style: none;
    display: flex;
}

/* .our-features-li {
    color: var();
} */

.our-features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.our-features-p {
    color: var(--paragraph-tex-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* title in section 3 and 4  */
.section-title{
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}



.sec3-list{
    width: 480px;
    margin: 0 auto;
    padding: 0 15px;
}

/*  ----- what-do-we-do (чим ми займаємось) ----- */
/* .what-do-we-do {
    color: var(--primery-text-color)
}  */

/* .what-do-we-do-title {
    color: var(--primery-text-color);
} */
/* .what-do-we-do-li {} */

/* ----- our team (ot) (наша команда) section ----- */
.our-team {
    background-color: var(--background-color-special);
    height: 648px;
}

/* ot-list located in our team <li> */
.ot-li {
    display: flexbox;
    margin: 0 auto;
    background-color: var(--additional-text-color);
    width: 270px;
}

/* .ot-img {} */

.ot-title {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.ot-p {
    color: var(--paragraph-tex-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}


/* -------------- main potfolio.html (основний контент portfolio.html) --------------  */
.p-btnlist{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

/* .p-btn {} */

.portfolio-btn {
    margin-left: 10px;
    border-style: none;
    border-radius: 4px;
    height: 38px;
    padding-right: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    cursor: pointer;
    background-color: #2196F3;
    color: var(--additional-text-color);
}

/* .nav-btn {} */



/* ------ portfolio list ------- */
.p-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    gap: 30px;
}
/*  */
.p-li{
    font-style: normal;
    box-sizing: border-box;
}


.p-title{
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}

.p-text{
    color: var(--paragraph-tex-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}
