/* ---------------------------------- COLORS --------------------------------- */
:root{
    --primery-text-color: #212121;
    --additional-text-color: #FFFFFF;
    --paragraph-tex-color: #757575;
    --text-hover-color: #2196F3;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --background-color: #ffffff;
    --background-color-additional: #2f303a;
    --background-color-special: #F5F4FA;
}

/* ------------- body+logo+head+footer (тіло+логотип+шапка+підвал) ----------- */
/* ----- body (тіло) -----*/
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);
}

.hidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.flex-list{
    list-style: none;
    display: flex;
}

/* ---------------------------------- LOGO ----------------------------------- */
/* "web" and "studio" style logo (in header and footer) */
.webstudio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    list-style: none;
    margin-top: 31px;
    padding-right: 90px;
}

/* options for tex "web" in logo */
.web {
    color: var(--text-hover-color);
}
/* options for tex "studio" in header logo */
.studio-header {
    color: var(--primery-text-color);
}
/* options for tex "studio" in footer logo */
.studio-footer {
    color: var(--additional-text-color);
}

/* --------------------------- HEADER (шапка сайта) -------------------------- */
/* global header links option (налаштування для посилать) */
.link-h {
    text-decoration: none;
    list-style: none;
    display: flex;
}

/* header navigation options (налаштування шапки) */
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
}

/* header navigation section options (налаштування секції навігації) */
.navigation{
    display: inline-flex;
}

/* header navigation list options (налаштування списку навігації) */
.header-nav {
    cursor: pointer;
    color: var(--additional-text-color);
}

/* header navigation link options (налаштування рядків списку навігації) */
.header-nav-li {
    color: var(--primery-text-color);
    padding-right: 50px;
    margin-top: 12px;
}
.header-nav-li:hover,
.header-nav-li:focus{
    color: var(--text-hover-color);
}

/* header contacts options (налаштування контактів в шапці) */
.header-contacts {
    font-size: 14px;
    cursor: pointer;
    list-style: none;
    color: var(--paragraph-tex-color);
    margin-top: 12px;
}
.header-contacts:focus,
.header-contacts:hover{
    color: var(--text-hover-color);
}



/* ----------------------- FOOTER section (підвал сайту) ----------------------*/
/* global footer links option (налаштування для посилать) */
.link-f {
    text-decoration: none;
    list-style: none;
}

/* footer section options (налаштування підвалу) */
.footer {
    background-color: var(--background-color-additional);
    padding-left: 215px;
}

/* footer list options (налаштування списку в підвалі) */
.footer-address-ul {
    display: inline-block;
    list-style: none;
}

/* footer font options (налаштування стилів в підвалі) */
.footer-address,
.footer-contacts{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding-left: 0;
    font-style: normal;
}

/* footer address options (налаштування адреси в підвалі) */
.footer-address {
    color: var(--additional-text-color);
}
.footer-address:hover,
.footer-address:focus {
    color: var(--text-hover-color);
}

/* footer contacts options (налаштування контактів в підвалі) */
.footer-contacts {
    color: var(--footer-contact-color);
}
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--text-hover-color);
}




/* -------------- main index.html (основний контент index.html) -------------- */
/* --------------------------- HERO section (герой) ---------------------------*/
.hero { 
    background-color: var(--background-color-additional);
    box-sizing: border-box;
    width: auto;
    height: 600px;
    top: 80px;
}

.hero-title {
    color: var(--additional-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase
}

.hero-button {
    color: var(--additional-text-color);
    background: var(--text-hover-color);
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    height: 50px;
    width: 220px;
    border-radius: 4px;
}

/* --------------------- our-features (текст під банером) -------------------- */
/* .our-features {} */

.our-features-ul{
    color: var(--primery-text-color);
    list-style: none;
    display: flex;
}

/* .our-features-li {} */

/* title options (налаштування назви) */
.our-features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* paragraph options (налаштування параграфу) */
.our-features-p {
    color: var(--paragraph-tex-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

/* ------------------------ section 3 (чим займаємось) ----------------------- */

/* title in section 3 and 4  */
.section-title{
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/*  налаштування списку (list options) */
.sec3-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    gap: 30px;    
}

/* ------------------- our team (ot) (наша команда) section ------------------ */
.our-team {
    background-color: var(--background-color-special);
    height: 648px;
}

/* ot-list located in our team <li> */
.ot-li {
    display: flexbox;
    margin: 0 auto;
    background-color: var(--additional-text-color);
    width: 270px;
}

/* .ot-img {} */

.ot-title {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.ot-p {
    color: var(--paragraph-tex-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* ---------------------------------PAGE 2------------------------------------ */
/* ---------- main potfolio.html (основний контент portfolio.html) ----------  */

/* button list options (налаштування списка кнопок) */
.p-btnlist{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

/* .p-btn {} */
/* button options (налаштування кнопки) */
.portfolio-btn {
    margin-left: 10px;
    border-style: none;
    border-radius: 4px;
    height: 38px;
    padding-right: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
.portfolio-btn:hover,
.portfolio-btn:focus{
    cursor: pointer;
    background-color: #2196F3;
    color: var(--additional-text-color);
}

/* .nav-btn {} */



/* ----------------------------- portfolio list ------------------------------ */
.p-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    gap: 30px;
}
/*  */
.p-li{
    font-style: normal;
    box-sizing: border-box;
}


.p-title{
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}

.p-text{
    color: var(--paragraph-tex-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}
